/* HERO */
.hero {
    padding-top: 72px;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 576px) {
    .hero {
      text-align: center;
    }
    .hero img {
      width: 80%;
      margin: 0.5rem 0;
    }
  }
  